---
layout: Life
title: "Life outside of research"
permalink: /life/
author_profile: true
photos:
  - url: "/images/ball.png"
    alt: "Photo 1 description"
    caption: "A beautiful sunset by the sea."
  - url: "/images/ball.png"
    alt: "Photo 2 description"
    caption: "Hiking through the mountains."
  - url: "/images/ball.png"
    alt: "Photo 3 description"
    caption: "Exploring the city at night."
  - url: "/images/500x300.png"
    alt: "Photo 4 description"
    caption: "Chilling by the campfire."
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
